
.page {
  width: 210mm;
  height: 297mm;
  padding: 20mm;
  box-sizing: border-box;
  break-after: page;
  break-inside: avoid;
  background: white;
  overflow: hidden;
}

@media screen {

  .page {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

}
