* {
  box-sizing: border-box;
  flex-shrink: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

@media print {

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    margin: 0;
    background: white;
  }

}

@media screen {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    color: #111;
  }

}

@page {
  size: landscape;
  margin: 0;
}
